In [12]:
import pandas as pd

# Especifica la ruta del archivo
titanic_df=pd.read_excel('data/titanic.xlsx')

# Carga el archivo Excel en un DataFrame de pandas
titanic_data = pd.read_excel("data/titanic.xlsx")

# Muestra información básica del DataFrame
print(titanic_data.info())

# Muestra las primeras filas del DataFrame
print(titanic_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id_Pasajero  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Clase        891 non-null    int64
 3   Nombre       891 non-null    object
 4   Sexo         891 non-null    object
 5   Edad         714 non-null    float64
 6   Familiares   891 non-null    int64
 7   Tiquete      891 non-null    object
 8   Tarifa       891 non-null    float64
 9   Cabina       204 non-null    object
 10  Embarcado    889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB
None
   Id_Pasajero  Survived  Clase  \
0            1         0      3
1            2         1      1
2            3         1      3
3            4         1      1
4            5         0      3

                                              Nombre       Sexo  Edad  \
0                            Braund, Mr. Owen Harris  Masculino  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...   Femenino  38.0
2                             Heikkinen, Miss. Laina   Femenino  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)   Femenino  35.0
4                           Allen, Mr. William Henry  Masculino  35.0

   Familiares           Tiquete  Tarifa Cabina Embarcado
0           0         A/5 21171    7.25    NaN         S
1           0          PC 17599   71.28    C85         C
2           0  STON/O2. 3101282    7.93    NaN         S
3           0            113803   53.10   C123         S
4           0            373450    8.05    NaN         S