### Ejercicio 3

<div class="well">Visualizar el <strong>nombre del/(los) jugador(es) de la NBA</strong> que han llevado estudios <strong>College</strong> en la ciudad de <strong>Kentucky</strong>, dato que se puede ubicar en la columna <strong>College</strong>, desde el archivo <code>nba.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) jugador(es)</strong> y adicionalmente guardar la información en el archivo <code>nba_adulto.csv</code>.


</div>

In [1]:
import numpy as np
import pandas as pd

In [2]:
name = pd.read_csv('data_ejercicios/nba.csv', ';')

<ipython-input-2-cee6c0ce4839>:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  name = pd.read_csv('data_ejercicios/nba.csv', ';')

In [3]:
#cargamos un archivo CSV separado por comas con indice en columna "College"
data = pd.read_csv('data_ejercicios/nba.csv', index_col="College")

#Imprimir
data.head()

,Name,Team,Number,Position,Age,Height,Weight,Salary
College,,,,,,,,
Texas,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,7730337.0
Marquette,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,6796117.0
Boston University,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,NaN
Georgia State,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,1148640.0
NaN,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,5000000.0

In [4]:
#variables que busca en la columna "College" y funcion `loc`
fist = data.loc['Kentucky']

#impresión
fist, "\n\n\n"

(                            Name                    Team  Number Position  \
 College
 Kentucky             James Young          Boston Celtics    13.0       SG
 Kentucky            Nerlens Noel      Philadelphia 76ers     4.0       PF
 Kentucky       Patrick Patterson         Toronto Raptors    54.0       PF
 Kentucky           Julius Randle      Los Angeles Lakers    30.0       PF
 Kentucky            Eric Bledsoe            Phoenix Suns     2.0       PG
 Kentucky            Devin Booker            Phoenix Suns     1.0       SG
 Kentucky          Archie Goodwin            Phoenix Suns    20.0       SG
 Kentucky          Brandon Knight            Phoenix Suns     3.0       PG
 Kentucky     Willie Cauley-Stein        Sacramento Kings     0.0        C
 Kentucky        DeMarcus Cousins        Sacramento Kings    15.0        C
 Kentucky             Rajon Rondo        Sacramento Kings     9.0       PG
 Kentucky             Jodie Meeks         Detroit Pistons    20.0       SG
 Kentucky          Terrence Jones         Houston Rockets     6.0       PF
 Kentucky           Anthony Davis    New Orleans Pelicans    23.0       PF
 Kentucky          Aaron Harrison       Charlotte Hornets     9.0       SG
 Kentucky  Michael Kidd-Gilchrist       Charlotte Hornets    14.0       SF
 Kentucky               John Wall      Washington Wizards     2.0       PG
 Kentucky         Tayshaun Prince  Minnesota Timberwolves    12.0       SF
 Kentucky      Karl-Anthony Towns  Minnesota Timberwolves    32.0        C
 Kentucky             Enes Kanter   Oklahoma City Thunder    11.0        C
 Kentucky           Nazr Mohammed   Oklahoma City Thunder    13.0        C
 Kentucky              Trey Lyles               Utah Jazz    41.0       PF

            Age Height  Weight      Salary
 College
 Kentucky  20.0    6-6   215.0   1749840.0
 Kentucky  22.0   6-11   228.0   3457800.0
 Kentucky  27.0    6-9   235.0   6268675.0
 Kentucky  21.0    6-9   250.0   3132240.0
 Kentucky  26.0    6-1   190.0  13500000.0
 Kentucky  19.0    6-6   206.0   2127840.0
 Kentucky  21.0    6-5   200.0   1160160.0
 Kentucky  24.0    6-3   189.0  13500000.0
 Kentucky  22.0    7-0   240.0   3398280.0
 Kentucky  25.0   6-11   270.0  15851950.0
 Kentucky  30.0    6-1   186.0   9500000.0
 Kentucky  28.0    6-4   210.0   6270000.0
 Kentucky  24.0    6-9   252.0   2489530.0
 Kentucky  23.0   6-10   253.0   7070730.0
 Kentucky  21.0    6-6   210.0    525093.0
 Kentucky  22.0    6-7   232.0   6331404.0
 Kentucky  25.0    6-4   195.0  15851950.0
 Kentucky  36.0    6-9   212.0    947276.0
 Kentucky  20.0    7-0   244.0   5703600.0
 Kentucky  24.0   6-11   245.0  16407500.0
 Kentucky  38.0   6-10   250.0    222888.0
 Kentucky  20.0   6-10   234.0   2239800.0  ,
 '\n\n\n')

In [5]:
#grabamos en otro archivo
fist.to_csv('data_ejercicios/nba_adulto.csv')