<center> <h1>Universidad Nacional de San Agustín de Arequipa</h1> </center> 
<center> <h1>Escuela Profesional de Ingeniería de Telecomunicaciones</h1> </center> 

<center> <h1> </h1> </center> 

<center><img src="https://user-images.githubusercontent.com/19308295/115939517-f1c6fe80-a463-11eb-989c-812ab4942586.png" width="380" height="4200"></center>

<center> <h2>Ingeniero Renzo Bolivar - Docente DAIE</h2> </center>

<center> <h1>Curso : Computación 2</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

<center> <h1>PANDAS</h1> </center>

 # PRESENTADO POR:
 ## LUIS FERNANDO DIAZ ARAPA

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

# Descripción:

<div class="alert alert-info">

En este notebook se explicarán la librería **Pandas** escrita como extensión de **NumPy** para la manipulación y análisis de datos en el lenguaje de programación Python. 
    
</div>

# Objetivos:

 1. Familiarizarce con creación de la estructura de tabla de datos **DataFrame.**
 2. Manejo inicial de un **DataFrame.**
 3. Importando archivos ***csv*** y manipulación inicial en **Pandas.**


[1. Limpieza de Datos](#1.-Limpieza-de-Datos)<br>
[2. Frecuencia Simple de Datos](#2.-Frecuencia-Simple-de-Datos)<br>
[3. Archivo csv "NBA" y Funciones de busqueda](#3.-Archivo-csv-"NBA"-y-Funciones-de-busqueda)<br>
[4. Análisis de Datos y Visualización](#4.-Análisis-de-Datos-y-Visualización)<br>

[EJERCICIOS](#EJERCICIOS)<br>
[BIBLIOGRAFÍA](#BIBLIOGRAFÍA)<br>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

![640px-Pandas_logo svg](https://user-images.githubusercontent.com/19308295/119273971-1b925300-bbd3-11eb-9705-fa3a404af0e1.png)

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****1. Limpieza de Datos****<tfont>

In [2]:
#Librerías
import numpy as np
import pandas as pd

Otro procedimiento que podemos hacer con **Pandas** es ***limpiar nuestros datos***, estos es muy importante en **Machine Learning** si queremos obtener resultados confiables.

In [4]:
#cargamos un archivo CSV separado por comas
notas2 = pd.read_csv("data/notas2.csv" ,";")
#leer 5 primeras lineas
notas2.head(10)

<ipython-input-4-830be93395f1>:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  notas2 = pd.read_csv("data/notas2.csv" ,";")

   Alumno  Nota1  Nota2  Nota3  Promedio
0   Maria   18.0   19.0     18        18
1    Jose    NaN   15.0     11        13
2    Juan   13.0   12.0     17        14
3    Luis   10.0   19.0     18        16
4  Carlos   16.0   12.0     10        13
5    Rosa    NaN   14.0     10        12
6   Jorge    9.0   11.0     19        13
7  Victor    NaN   13.0     10        12
8     Ana   18.0   19.0     11        16
9     Luz   14.0   20.0     16        17

<div class="alert alert-info">Con <strong>Pandas</strong> podemos verificar si faltan valores en el conjunto de datos solamente tenemos que implementar <code>pd.isnull()</code>. Implementando esta instrucción nos devuelve una matriz booleana, una matriz de <strong>verdadero</strong> para valores faltantes y <strong>falso</strong> para valores no perdidos.</div>

In [5]:
#Verificar si hay datos nulos en el DataFrame
print("Datos nulos en el DataFrame:")


#Imprimir nulos TRUE
notas2.isnull()

Datos nulos en el DataFrame:

    Alumno  Nota1  Nota2  Nota3  Promedio
0    False  False  False  False     False
1    False   True  False  False     False
2    False  False  False  False     False
3    False  False  False  False     False
4    False  False  False  False     False
5    False   True  False  False     False
6    False  False  False  False     False
7    False   True  False  False     False
8    False  False  False  False     False
9    False  False  False  False     False
10   False   True  False  False     False
11   False  False  False  False     False
12   False   True  False  False     False
13   False  False  False  False     False
14   False  False  False  False     False
15   False   True  False  False     False
16   False  False  False  False     False
17   False  False  False  False     False
18   False  False  False  False     False
19   False   True  False  False     False
20   False  False  False  False     False
21   False  False  False  False     False
22   False  False  False  False     False
23   False  False  False  False     False
24   False  False  False  False     False
25   False  False  False  False     False
26   False  False  False  False     False
27   False  False  False  False     False
28   False  False   True  False     False
29   False  False  False  False     False
30   False  False  False  False     False
31   False  False  False  False     False
32   False   True  False  False     False
33   False   True  False  False     False
34   False  False   True  False     False
35   False   True  False  False     False
36   False  False  False  False     False
37   False  False  False  False     False
38   False  False  False  False     False
39   False  False  False  False     False
40   False  False  False  False     False
41   False  False  False  False     False
42   False  False  False  False     False
43   False  False   True  False     False
44   False   True  False  False     False
45   False  False  False  False     False
46   False  False  False  False     False
47   False  False  False  False     False
48   False  False  False  False     False
49   False  False  False  False     False

<div class="alert alert-info">Para obtener una <strong>suma de valores nulos o faltantes</strong> solamente se debe ejecutar la siguiente instrucción:</div>

In [6]:
#Suma de datos nulos en el DataFrame
print("SUma datos nulos en el DataFrame:")
#imprimir
notas2.isnull().sum()

SUma datos nulos en el DataFrame:

Alumno       0
Nota1       11
Nota2        3
Nota3        0
Promedio     0
dtype: int64

<div class="alert alert-info"> Ahora vamos a <strong>rellenar los valores perdidos</strong> con otros valores usando <code>df.fillna(x)</code> que reemplaza los valores perdidos con <code>x</code>, puede ser cualquier valor, inclusive se puede reemplar todos los valores nulos con la media de los datos.</div>

In [10]:
#Reemplaza los valores perdidos por un valor
print("Reemplazar los valores perdidos por la media:")

#Imprimir
notas2.fillna(5)

Reemplazar los valores perdidos por la media:

       Alumno  Nota1  Nota2  Nota3  Promedio
0       Maria   18.0   19.0     18        18
1        Jose    5.0   15.0     11        13
2        Juan   13.0   12.0     17        14
3        Luis   10.0   19.0     18        16
4      Carlos   16.0   12.0     10        13
5        Rosa    5.0   14.0     10        12
6       Jorge    9.0   11.0     19        13
7      Victor    5.0   13.0     10        12
8         Ana   18.0   19.0     11        16
9         Luz   14.0   20.0     16        17
10      Cesar    5.0   13.0     20        17
11     Carmen   14.0   10.0     14        13
12     Miguel    5.0   10.0     16        13
13      Julio   11.0   10.0     14        12
14      Jesus   12.0   13.0     10        12
15      Pedro    5.0   11.0     15        13
16     Manuel   15.0   20.0     20        18
17      Juana    8.0   13.0     10        10
18     Santos    7.0   17.0     14        13
19    Segundo    5.0    8.0     20        14
20       Jhon   10.0    8.0     10         9
21      David    7.0    8.0     10         8
22      Angel   18.0    9.0     11        13
23      Julia    7.0   11.0     18        12
24      Diego   20.0   18.0     18        19
25       Flor   12.0   10.0     13        12
26  Elizabeth   16.0   19.0     18        18
27     Daniel   18.0   13.0     16        16
28      Oscar   10.0    5.0     12        11
29       Ruth    9.0   11.0     12        11
30      Diana   16.0   13.0     14        14
31      Marco    9.0   14.0     16        13
32      Edwin    5.0   19.0     11        15
33     Javier    5.0   16.0     10        13
34     Walter   11.0    5.0     14        13
35  Francisco    5.0   10.0     20        15
36   Fernando   10.0   20.0     13        14
37   Milagros   18.0   14.0     11        14
38  Alejandro    9.0   17.0     14        13
39       Raul   20.0   18.0     16        18
40    Ricardo    9.0   17.0     17        14
41       Alex   10.0   10.0     20        13
42    Roberto   19.0   14.0     12        15
43      Edgar   15.0    5.0     19        17
44   Victoria    5.0   11.0     17        14
45    Eduardo   12.0   19.0     12        14
46      Mario   19.0   14.0     19        17
47      Jaime   18.0   19.0     15        17
48     Gloria   19.0   16.0     16        17
49     Andrea   14.0   17.0     19        17

<div class="alert alert-info"> Ahora para conservar los cambios <strong>generamos un nuevo archivo</strong>  <code>csv </code> con el resultado de la limpieza, utilizamos el comando <code>df.to_csv</code> que creara el nuevo archivo.</div>

In [12]:
#asignamos el resultado al DataFrame nota_final
nota_final = notas2.fillna(5)

In [13]:
#imprimimos para confirmar
nota_final.head()

   Alumno  Nota1  Nota2  Nota3  Promedio
0   Maria   18.0   19.0     18        18
1    Jose    5.0   15.0     11        13
2    Juan   13.0   12.0     17        14
3    Luis   10.0   19.0     18        16
4  Carlos   16.0   12.0     10        13

In [14]:
#grabamos en otro archivo
notas2.to_csv("data/notafinal.csv")

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****2. Frecuencia Simple de Datos****<tfont>

<div class="alert alert-info"> Vamos hallar la <strong>frecuencia</strong> de notas de un archivo  <code>csv</code> damos como resultado la nota mas alta</div>

In [15]:
#cargamos un archivo CSV separado por punto y coma
notas3 = pd.read_csv("data/notas.csv", ";")

<ipython-input-15-e9a94cfa2408>:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  notas3 = pd.read_csv("data/notas.csv", ";")

In [16]:
#nombres de columnas
notas3.columns.values

array(['Alumno', 'Nota1', 'Nota2', 'Nota3', 'Promedio'], dtype=object)

In [18]:
#buscamos cuantos alumnos han sacado nota 20 en Promedio
#creamos nuevo DataFrame con notas promedio y frecuencias
tab = pd.crosstab(index=notas3["Nota3"], columns = "Frecuencia")
tab.head(15)

col_0  Frecuencia
Nota3
10              8
11              5
12              4
13              2
14              6
15              2
16              6
17              3
18              5
19              4
20              5

In [19]:
#localizar alumnos que han sacado 20 en su Nota3

fila = tab.loc[tab.index==20]
#variable
x = fila["Frecuencia"]
x = int(x)

#Impresion
print("\t \t \t FELICITACIÒN")
print("------------------------------------------------------")
print("\n")
print("%d alumnos han sacado en su Nota3 20, mis felicitaciones!!"%x)
print("\n\n\n")

	 	 	 FELICITACIÒN
------------------------------------------------------


5 alumnos han sacado en su Nota3 20, mis felicitaciones!!

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****3. Archivo csv "NBA" y Funciones de busqueda****<tfont>

<div class="alert alert-info"> Las <strong>funciones de busqueda</strong> son básicas en <strong>pandas</strong> lo vamos aplicar a un archivo bajado de la pagina web Kaggle el mayor banco de dataset</div>

In [24]:
#cargamos un archivo CSV separado por comas con indice en columna "Name"
data = pd.read_csv("data/nba.csv" , index_col= "Name" )

#Impresión
data.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [25]:
#variables que busca en la columna "Name" y funcion `loc`
fist = data.loc["Avery Bradley"]
second = data.loc["Jae Crowder"]

#impresión
print(fist, "\n\n\n" , second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: Jae Crowder, dtype: object

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>4. Análisis de Datos y Visualización<tfont>

<div class="alert alert-info">
Colección de datos completo de COVID-19 mantenido por  <strong>Our World in Data</strong>
(Investigación y datos para avanzar contra los mayores problemas del mundo). 
    
Se actualiza diariamente e incluye datos sobre casos confirmados, muertes, hospitalizaciones, pruebas y vacunaciones, así como otras variables de posible interés.
    
    
    https://github.com/owid/covid-19-data/tree/master/public/data
    
</div>

### Vamos a leer los datos desde github de `Our World in Data`

In [13]:
import pandas as pd

# Ruta al archivo subido
uploaded_file_path = 'owid-covid-data.csv'

# Intentemos leer el archivo como un archivo CSV
try:
    df = pd.read_csv(uploaded_file_path, index_col=0)
    print(df.head())
except Exception as e:
    print("Error al leer el archivo:", e)

         continent     location        date  total_cases  new_cases  \
iso_code
AFG           Asia  Afghanistan  2020-01-05          NaN        0.0
AFG           Asia  Afghanistan  2020-01-06          NaN        0.0
AFG           Asia  Afghanistan  2020-01-07          NaN        0.0
AFG           Asia  Afghanistan  2020-01-08          NaN        0.0
AFG           Asia  Afghanistan  2020-01-09          NaN        0.0

          new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
iso_code
AFG                      NaN           NaN         0.0                  NaN
AFG                      NaN           NaN         0.0                  NaN
AFG                      NaN           NaN         0.0                  NaN
AFG                      NaN           NaN         0.0                  NaN
AFG                      NaN           NaN         0.0                  NaN

          total_cases_per_million  ...  male_smokers  handwashing_facilities  \
iso_code                           ...
AFG                           NaN  ...           NaN                  37.746
AFG                           NaN  ...           NaN                  37.746
AFG                           NaN  ...           NaN                  37.746
AFG                           NaN  ...           NaN                  37.746
AFG                           NaN  ...           NaN                  37.746

          hospital_beds_per_thousand  life_expectancy  \
iso_code
AFG                              0.5            64.83
AFG                              0.5            64.83
AFG                              0.5            64.83
AFG                              0.5            64.83
AFG                              0.5            64.83

          human_development_index  population  \
iso_code
AFG                         0.511  41128772.0
AFG                         0.511  41128772.0
AFG                         0.511  41128772.0
AFG                         0.511  41128772.0
AFG                         0.511  41128772.0

          excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
iso_code
AFG                                        NaN                          NaN
AFG                                        NaN                          NaN
AFG                                        NaN                          NaN
AFG                                        NaN                          NaN
AFG                                        NaN                          NaN

          excess_mortality  excess_mortality_cumulative_per_million
iso_code
AFG                    NaN                                      NaN
AFG                    NaN                                      NaN
AFG                    NaN                                      NaN
AFG                    NaN                                      NaN
AFG                    NaN                                      NaN

[5 rows x 66 columns]

### Revisamos los datos

In [14]:
#Cantidad de Filas
len(df)

407877

In [15]:
#Cantidad de Filas y Columnas
df.shape

(407877, 66)

In [16]:
#Valores de las columnas
df.columns

Index(['continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [17]:
#Información de los datos
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 407877 entries, AFG to ZWE
Data columns (total 66 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   continent                                   388365 non-null  object
 1   location                                    407877 non-null  object
 2   date                                        407877 non-null  object
 3   total_cases                                 368836 non-null  float64
 4   new_cases                                   396607 non-null  float64
 5   new_cases_smoothed                          395377 non-null  float64
 6   total_deaths                                346115 non-null  float64
 7   new_deaths                                  397000 non-null  float64
 8   new_deaths_smoothed                         395770 non-null  float64
 9   total_cases_per_million                     368836 non-null  float64
 10  new_cases_per_million                       396607 non-null  float64
 11  new_cases_smoothed_per_million              395377 non-null  float64
 12  total_deaths_per_million                    346115 non-null  float64
 13  new_deaths_per_million                      397000 non-null  float64
 14  new_deaths_smoothed_per_million             395770 non-null  float64
 15  reproduction_rate                           184817 non-null  float64
 16  icu_patients                                38967 non-null   float64
 17  icu_patients_per_million                    38967 non-null   float64
 18  hosp_patients                               40507 non-null   float64
 19  hosp_patients_per_million                   40507 non-null   float64
 20  weekly_icu_admissions                       10895 non-null   float64
 21  weekly_icu_admissions_per_million           10895 non-null   float64
 22  weekly_hosp_admissions                      24399 non-null   float64
 23  weekly_hosp_admissions_per_million          24399 non-null   float64
 24  total_tests                                 79387 non-null   float64
 25  new_tests                                   75403 non-null   float64
 26  total_tests_per_thousand                    79387 non-null   float64
 27  new_tests_per_thousand                      75403 non-null   float64
 28  new_tests_smoothed                          103965 non-null  float64
 29  new_tests_smoothed_per_thousand             103965 non-null  float64
 30  positive_rate                               95927 non-null   float64
 31  tests_per_case                              94348 non-null   float64
 32  tests_units                                 106788 non-null  object
 33  total_vaccinations                          84714 non-null   float64
 34  people_vaccinated                           80464 non-null   float64
 35  people_fully_vaccinated                     77390 non-null   float64
 36  total_boosters                              52907 non-null   float64
 37  new_vaccinations                            70327 non-null   float64
 38  new_vaccinations_smoothed                   194091 non-null  float64
 39  total_vaccinations_per_hundred              84714 non-null   float64
 40  people_vaccinated_per_hundred               80464 non-null   float64
 41  people_fully_vaccinated_per_hundred         77390 non-null   float64
 42  total_boosters_per_hundred                  52907 non-null   float64
 43  new_vaccinations_smoothed_per_million       194091 non-null  float64
 44  new_people_vaccinated_smoothed              191346 non-null  float64
 45  new_people_vaccinated_smoothed_per_hundred  191346 non-null  float64
 46  stringency_index                            197292 non-null  float64
 47  population_density                          347126 non-null  float64
 48  median_age                                  322587 non-null  float64
 49  aged_65_older                               311530 non-null  float64
 50  aged_70_older                               319351 non-null  float64
 51  gdp_per_capita                              316384 non-null  float64
 52  extreme_poverty                             203990 non-null  float64
 53  cardiovasc_death_rate                       316993 non-null  float64
 54  diabetes_prevalence                         333387 non-null  float64
 55  female_smokers                              237981 non-null  float64
 56  male_smokers                                234745 non-null  float64
 57  handwashing_facilities                      155372 non-null  float64
 58  hospital_beds_per_thousand                  280049 non-null  float64
 59  life_expectancy                             375981 non-null  float64
 60  human_development_index                     307499 non-null  float64
 61  population                                  407877 non-null  float64
 62  excess_mortality_cumulative_absolute        13290 non-null   float64
 63  excess_mortality_cumulative                 13290 non-null   float64
 64  excess_mortality                            13290 non-null   float64
 65  excess_mortality_cumulative_per_million     13290 non-null   float64
dtypes: float64(62), object(4)
memory usage: 200.7+ MB

In [18]:
#estadistica descriptiva de los datos
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,3.688360e+05,3.966070e+05,3.953770e+05,3.461150e+05,397000.000000,395770.000000,368836.000000,396607.000000,395377.000000,346115.000000,...,234745.000000,155372.000000,280049.000000,375981.000000,307499.000000,4.078770e+05,1.329000e+04,13290.000000,13290.000000,13290.000000
mean,7.724538e+06,8.288240e+03,8.313716e+03,9.191550e+04,74.252612,74.479771,117513.730877,126.196233,126.581798,940.893389,...,32.911774,50.790232,3.097277,73.707003,0.722497,1.291633e+08,5.592295e+04,9.789843,10.996888,1781.925909
std,4.548738e+07,2.334899e+05,8.805211e+04,4.648030e+05,1387.563469,520.715861,164009.035588,1505.966132,557.904334,1146.093449,...,13.573182,31.953933,2.548304,7.394301,0.148979,6.629905e+08,1.554634e+05,12.043989,24.549943,1990.069833
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-2936.453100
25%,1.001600e+04,0.000000e+00,0.000000e+00,1.380000e+02,0.000000,0.000000,3140.102000,0.000000,0.000000,68.318000,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,1.794250e+02,2.150000,-1.447500,125.162125
50%,8.291200e+04,0.000000e+00,1.385700e+01,1.424000e+03,0.000000,0.000000,35834.604000,0.000000,3.312000,440.039000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,6.848000e+03,8.150000,5.710000,1270.143100
75%,9.453540e+05,0.000000e+00,3.464290e+02,1.311800e+04,0.000000,3.429000,162356.481000,0.000000,60.905000,1515.600000,...,41.300000,82.502000,4.200000,79.460000,0.829000,2.830170e+07,3.909440e+04,15.040000,15.667500,2888.020925
max,7.756157e+08,4.423623e+07,6.319461e+06,7.051323e+06,103719.000000,14817.000000,771480.580000,240325.866000,34332.267000,6485.570000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.345330e+06,78.080000,382.860000,10293.515000

### Interpretamos los datos encontrados

#### Datos Negativos en Muertes por día

In [19]:
#Muertes por día negativos???   es extraño???
df[df.new_deaths < 0 ]

Empty DataFrame
Columns: [continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, total_tests, new_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, new_vaccinations_smoothed_per_million, new_people_vaccinated_smoothed, new_people_vaccinated_smoothed_per_hundred, stringency_index, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index, population, excess_mortality_cumulative_absolute, excess_mortality_cumulative, excess_mortality, excess_mortality_cumulative_per_million]
Index: []

[0 rows x 66 columns]

---

#### Datos Nulos NaN en nuevos casos por día

In [20]:
#Muertes por día NaN??
df[df.new_cases.isnull() ]

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
ARG,South America,Argentina,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
OWID_ASI,NaN,Asia,2024-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.721383e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OWID_WRL,NaN,World,2024-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2024-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2024-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2024-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2023-07-30,265693.0,NaN,NaN,5712.0,1.0,0.143,16279.671,...,30.700,36.791,1.700,61.49,0.571,1.632054e+07,NaN,NaN,NaN,NaN

In [21]:
df.new_cases.sort_values(ascending=True)

iso_code
AFG         0.0
OWID_NAM    0.0
OWID_NAM    0.0
OWID_NAM    0.0
OWID_NAM    0.0
           ...
OWID_WRL    NaN
OWID_WRL    NaN
OWID_WRL    NaN
OWID_WRL    NaN
ZWE         NaN
Name: new_cases, Length: 407877, dtype: float64

In [22]:
#asognación temporal de valores nulos
df.new_cases.fillna(0)

iso_code
AFG    0.0
AFG    0.0
AFG    0.0
AFG    0.0
AFG    0.0
      ...
ZWE    0.0
ZWE    0.0
ZWE    0.0
ZWE    0.0
ZWE    0.0
Name: new_cases, Length: 407877, dtype: float64

In [25]:
#buscamos valores nulos NaN  en new_cases
df[df.new_cases.isnull() ]

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
ARG,South America,Argentina,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
OWID_ASI,NaN,Asia,2024-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.721383e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OWID_WRL,NaN,World,2024-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2024-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2024-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2024-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2023-07-30,265693.0,NaN,NaN,5712.0,1.0,0.143,16279.671,...,30.700,36.791,1.700,61.49,0.571,1.632054e+07,NaN,NaN,NaN,NaN

In [28]:
#asignación definitiva de valores nulos
df.new_cases.fillna(value  = 0, inplace=True)

In [29]:
#buscamos valores nulos NaN en new_cases
df[df.new_cases.isnull() ]

Empty DataFrame
Columns: [continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, total_tests, new_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, new_vaccinations_smoothed_per_million, new_people_vaccinated_smoothed, new_people_vaccinated_smoothed_per_hundred, stringency_index, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index, population, excess_mortality_cumulative_absolute, excess_mortality_cumulative, excess_mortality, excess_mortality_cumulative_per_million]
Index: []

[0 rows x 66 columns]

---

#### Datos Nulos NaN en ingresos de PBI `gdp_per_capita`

In [32]:
df.groupby("location").mean().gdp_per_capita

<ipython-input-32-5870e3d4ec67>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("location").mean().gdp_per_capita

location
Afghanistan        1803.987
Africa                  NaN
Albania           11803.431
Algeria           13913.839
American Samoa          NaN
                    ...
Western Sahara          NaN
World             15469.207
Yemen              1479.147
Zambia             3689.251
Zimbabwe           1899.775
Name: gdp_per_capita, Length: 255, dtype: float64

In [34]:
# Hallamos el promedio de `gdp_per_capita`
promedio_gdp = df.groupby("location").mean().gdp_per_capita.mean()
promedio_gdp

<ipython-input-34-e3529e891e82>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  promedio_gdp = df.groupby("location").mean().gdp_per_capita.mean()

19173.61225510204

In [36]:
#Creamos una nueva columna con:
df["gdp_per_capita_not_nulls"] = df["gdp_per_capita"].fillna(promedio_gdp)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 407877 entries, AFG to ZWE
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   continent                                   388365 non-null  object
 1   location                                    407877 non-null  object
 2   date                                        407877 non-null  object
 3   total_cases                                 368836 non-null  float64
 4   new_cases                                   407877 non-null  float64
 5   new_cases_smoothed                          395377 non-null  float64
 6   total_deaths                                346115 non-null  float64
 7   new_deaths                                  397000 non-null  float64
 8   new_deaths_smoothed                         395770 non-null  float64
 9   total_cases_per_million                     368836 non-null  float64
 10  new_cases_per_million                       396607 non-null  float64
 11  new_cases_smoothed_per_million              395377 non-null  float64
 12  total_deaths_per_million                    346115 non-null  float64
 13  new_deaths_per_million                      397000 non-null  float64
 14  new_deaths_smoothed_per_million             395770 non-null  float64
 15  reproduction_rate                           184817 non-null  float64
 16  icu_patients                                38967 non-null   float64
 17  icu_patients_per_million                    38967 non-null   float64
 18  hosp_patients                               40507 non-null   float64
 19  hosp_patients_per_million                   40507 non-null   float64
 20  weekly_icu_admissions                       10895 non-null   float64
 21  weekly_icu_admissions_per_million           10895 non-null   float64
 22  weekly_hosp_admissions                      24399 non-null   float64
 23  weekly_hosp_admissions_per_million          24399 non-null   float64
 24  total_tests                                 79387 non-null   float64
 25  new_tests                                   75403 non-null   float64
 26  total_tests_per_thousand                    79387 non-null   float64
 27  new_tests_per_thousand                      75403 non-null   float64
 28  new_tests_smoothed                          103965 non-null  float64
 29  new_tests_smoothed_per_thousand             103965 non-null  float64
 30  positive_rate                               95927 non-null   float64
 31  tests_per_case                              94348 non-null   float64
 32  tests_units                                 106788 non-null  object
 33  total_vaccinations                          84714 non-null   float64
 34  people_vaccinated                           80464 non-null   float64
 35  people_fully_vaccinated                     77390 non-null   float64
 36  total_boosters                              52907 non-null   float64
 37  new_vaccinations                            70327 non-null   float64
 38  new_vaccinations_smoothed                   194091 non-null  float64
 39  total_vaccinations_per_hundred              84714 non-null   float64
 40  people_vaccinated_per_hundred               80464 non-null   float64
 41  people_fully_vaccinated_per_hundred         77390 non-null   float64
 42  total_boosters_per_hundred                  52907 non-null   float64
 43  new_vaccinations_smoothed_per_million       194091 non-null  float64
 44  new_people_vaccinated_smoothed              191346 non-null  float64
 45  new_people_vaccinated_smoothed_per_hundred  191346 non-null  float64
 46  stringency_index                            197292 non-null  float64
 47  population_density                          347126 non-null  float64
 48  median_age                                  322587 non-null  float64
 49  aged_65_older                               311530 non-null  float64
 50  aged_70_older                               319351 non-null  float64
 51  gdp_per_capita                              316384 non-null  float64
 52  extreme_poverty                             203990 non-null  float64
 53  cardiovasc_death_rate                       316993 non-null  float64
 54  diabetes_prevalence                         333387 non-null  float64
 55  female_smokers                              237981 non-null  float64
 56  male_smokers                                234745 non-null  float64
 57  handwashing_facilities                      155372 non-null  float64
 58  hospital_beds_per_thousand                  280049 non-null  float64
 59  life_expectancy                             375981 non-null  float64
 60  human_development_index                     307499 non-null  float64
 61  population                                  407877 non-null  float64
 62  excess_mortality_cumulative_absolute        13290 non-null   float64
 63  excess_mortality_cumulative                 13290 non-null   float64
 64  excess_mortality                            13290 non-null   float64
 65  excess_mortality_cumulative_per_million     13290 non-null   float64
 66  gdp_per_capita_not_nulls                    407877 non-null  float64
dtypes: float64(63), object(4)
memory usage: 212.0+ MB

In [39]:
df.dropna().shape

(0, 67)

### Preguntas?

### Cuál es el país con el mayor life_expectancy?

In [41]:
df.groupby("location").mean().life_expectancy.sort_values(ascending=False)

<ipython-input-41-b7aa8eac682b>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("location").mean().life_expectancy.sort_values(ascending=False)

location
Monaco                 86.75
San Marino             84.97
Hong Kong              84.86
Japan                  84.63
Macao                  84.24
                       ...
Saint Barthelemy         NaN
Scotland                 NaN
South America            NaN
Upper middle income      NaN
Wales                    NaN
Name: life_expectancy, Length: 255, dtype: float64

### Qué país tiene la menor cantidad de fumadores masculinos?

In [44]:
df.groupby("location").mean().male_smokers.sort_values(ascending=True)

<ipython-input-44-11b600d16d96>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("location").mean().male_smokers.sort_values(ascending=True)

location
Ghana                 7.7
Ethiopia              8.5
Panama                9.9
Nigeria              10.8
Eritrea              11.4
                     ...
Vatican               NaN
Venezuela             NaN
Wales                 NaN
Wallis and Futuna     NaN
Western Sahara        NaN
Name: male_smokers, Length: 255, dtype: float64

### Qué país tiene la mayor cantidad de fallecimientos diarios a la fecha?

In [45]:
df.groupby("location").date.max()

location
Afghanistan       2024-06-09
Africa            2024-06-09
Albania           2024-06-09
Algeria           2024-06-09
American Samoa    2024-06-09
                     ...
Western Sahara    2022-04-20
World             2024-06-22
Yemen             2024-06-09
Zambia            2024-06-09
Zimbabwe          2024-06-09
Name: date, Length: 255, dtype: object

In [46]:
df[df.date == "2021-25-09" ].sort_values("new_deaths", ascending =False)

Empty DataFrame
Columns: [continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, total_tests, new_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, new_vaccinations_smoothed_per_million, new_people_vaccinated_smoothed, new_people_vaccinated_smoothed_per_hundred, stringency_index, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index, population, excess_mortality_cumulative_absolute, excess_mortality_cumulative, excess_mortality, excess_mortality_cumulative_per_million, gdp_per_capita_not_nulls]
Index: []

[0 rows x 67 columns]

---

## Visualización de los datos, librería `Plotly`

In [ ]:
#Librería plotly
import plotly.express as px

In [47]:
df.head()

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,gdp_per_capita_not_nulls
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,1803.987
AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,1803.987
AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,1803.987
AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,1803.987
AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,1803.987

In [48]:
df.columns

Index(['continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million',
       'gdp_per_capita_not_nulls'],
      dtype='object')

In [55]:
#Creamos nuevo DataFrame con columnas 'life_expectancy', 'diabetes_prevalence', 'continent'
cv = df[ ["life_expectancy","diabetes_prevalence", "continent"] ].dropna()
#Gráfica de Dispersión con las 03 columnas
fig = px.scatter(cv, x = "life_expectancy", y = "diabetes_prevalence", color ="continent")
fig.show()

<class 'NameError'>: name 'px' is not defined

In [56]:
cv.head()

          life_expectancy  diabetes_prevalence continent
iso_code
AFG                 64.83                 9.59      Asia
AFG                 64.83                 9.59      Asia
AFG                 64.83                 9.59      Asia
AFG                 64.83                 9.59      Asia
AFG                 64.83                 9.59      Asia

In [ ]:
#Creamos nuevo DataFrame con columnas 'life_expectancy', 'diabetes_prevalence', 'continent'
#'population', 'location'
gap = df[["life_expectancy", "diabetes_prevalence" , "continent",
         "population", "location"]]dropna()

In [58]:
#Grafica de Dispersión con la nueva data
fig = px.scatter(cv, x = "life_expectancy", y = "diabetes_prevalence", color ="continent",
                size = "population",hover_name="location")

fig.show()

<class 'NameError'>: name 'px' is not defined

In [59]:
#cambiamos el rango de la grafica
fig = px.scatter(cv, x = "life_expectancy", y = "diabetes_prevalence", color ="continent",
                size = "population",hover_name="location", range_y=[ 5,20], range_x [ 65,80])

fig.show()

<class 'SyntaxError'>: positional argument follows keyword argument (<ipython-input-59-cab6b91d8bfb>, line 3)

---

In [60]:
#Grafica de pie total de casos el dia 28 mayo 2021.... (Fecha Actualizada)
df[df.date == "2021-05-29" ].groupby("continent").sum().total_cases

<ipython-input-60-cc0f3556ef17>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[df.date == "2021-05-29" ].groupby("continent").sum().total_cases

continent
Africa            4800901.0
Asia             48795335.0
Europe           46193226.0
North America    38505260.0
Oceania             75304.0
South America    27688564.0
Name: total_cases, dtype: float64

In [61]:
#A partir de groupby creamos un DataFrame
df[ df.date == "2021-05-29"].groupby("continent").sum().total_cases.reset_index()

<ipython-input-61-0faa54f17e93>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[ df.date == "2021-05-29"].groupby("continent").sum().total_cases.reset_index()

       continent  total_cases
0         Africa    4800901.0
1           Asia   48795335.0
2         Europe   46193226.0
3  North America   38505260.0
4        Oceania      75304.0
5  South America   27688564.0

In [ ]:
#Asignamos a un Nuevo Data Frame

pastel = df[ df.date == "2021-05-29"].groupby("continent").sum().total_cases.reset_index()

In [ ]:
#Graficamos pie
fig = px.pie(pastel, values = "total_cases", names = "continent",
            title = "Casos Totales por C)

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****EJERCICIOS****<tfont>

### Ejercicio 1

<div class="alert alert-info">
Crear un <strong>DataFrame</strong> desde la URL : 
    
    
    https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true   
    
Responder las siguientes preguntas :
</div>

<div class="well">
   
   1.-Que <strong>paises</strong> se encuentran en el DataFrame.
   
   2.-Cuantos registros hay por <strong>continente</strong>
    
   3.-Cuantos <strong>nuevos casos</strong> hubo como máximo en una fecha reportada por cada país?
    
   4.-Cuál es el país con el mayor <strong>GDP per cápita (PBI)</strong>?
   
   5.-Qué país tiene la mayor cantidad de <strong>fumadoras femeninas</strong>? 
    
   6.-Qué país tiene la mayor cantidad de <strong>muertes por millón</strong>? 
    
   7.-Qué país ha tomado las medidas <strong>más estrictas hasta ahora</strong>? 
    
   8.-Cual fue el país en alcanzar los 10.000 <strong>casos activos por primera vez</strong>?
    
   
</div>

<div class="alert alert-info">Creamos un nuevo <strong>DataFrame</strong> solo con los siguientes paises: <code>Peru, Guinea</code>. 
    
   Respondemos las siguientes preguntas :

</div>

<div class="well">
   
   9.-<strong>Cuantas filas</strong> hay por país ?.
   
   10.-Cuál es la <strong>fecha máxima</strong> por país ?.
    
   11.-Cuál es la <strong>fecha mínima</strong> por país ?.
    
   12.-Cuantos registros hay por <strong>"continente"</strong>?
   
   13.-Cuantos <strong>nuevos casos hubo como máximo</strong> en una fecha reportada por cada país?? 
    
   
</div>

### Ejercicio 2

<div class="well">Visualizar el <strong>nombre del/(los) jugador(es) de la NBA</strong> de mayor <strong>edad</strong> usar columna <strong>Age</strong>, desde el archivo <code>nba.csv</code> (Carpeta <code>data_ejercicios</code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) jugador(es)</strong> y adicionalmente guardar la información en el archivo <code>nba_adulto.csv</code>(Carpeta <code>data_ejercicios</code>).


</div>

### Ejercicio 3

<div class="well">Visualizar el <strong>nombre del/(los) jugador(es) de la NBA</strong> que han llevado estudios <strong>College</strong> en la ciudad de <strong>Kentucky</strong>, dato que se puede ubicar en la columna <strong>College</strong>, desde el archivo <code>nba.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) jugador(es)</strong> y adicionalmente guardar la información en el archivo <code>nba_adulto.csv</code>.


</div>

### Ejercicio 4

<div class="well">Visualizar el <strong>nombre del/(los) estudiante(s) </strong> que deben viajar mas de <strong>01 hora</strong> dato que se puede ubicar en la columna <strong>traveltime</strong>, desde el archivo <code>student-mat.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) alumno(s)</strong> y adicionalmente guardar la información en el archivo <code>student-travel.csv</code>.


</div>

### Ejercicio 5

<div class="well">Visualizar el <strong>nombre del/(los) estudiante(s) </strong> que no poseen <strong>internet</strong> dato que se puede ubicar en la columna <strong>internet</strong>, desde el archivo <code>student-mat.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) alumno(s)</strong> y adicionalmente guardar la información en el archivo <code>student-internet.csv</code>.


</div>

### Ejercicio 6

<div class="well">Visualizar el <strong>nombre del/(los) estudiante(s) </strong> que son mayores de <strong>18 años</strong> dato que se puede ubicar en la columna <strong>age</strong>, desde el archivo <code>student-mat.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) alumno(s)</strong> y adicionalmente guardar la información en el archivo <code>student-age.csv</code>.


</div>

<div class="alert alert-warning">Database <code>student-mat.csv</code> fue sacado de <strong>Kaggle</strong>
    autores:
    

    
P. Cortez and A. Silva. Using Data Mining to Predict Secondary School Student Performance. In A. Brito and J. Teixeira Eds., Proceedings of 5th FUture BUsiness TEChnology Conference (FUBUTEC 2008) pp. 5-12, Porto, Portugal, April, 2008, EUROSIS, ISBN 978-9077381-39-7.

    
    
</div>

<div class="alert alert-warning">
    
    
web: https://www.kaggle.com/janiobachmann/math-students/data

    
</div>

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****BIBLIOGRAFÍA****<tfont>

[1] Guía de pandas oficial https://pandas.pydata.org/docs/user_guide/index.html

[2] Python Pandas Tutorial: A Complete Introduction for Beginners https://bit.ly/2AQMQld

[3] Guía para pandas https://pybonacci.org/2014/05/30/pandas-i/

[4] Dataset variados https://www.kaggle.com/datasets

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)