<center> <h1>Universidad Nacional de San Agustín de Arequipa</h1> </center> 
<center> <h1>Escuela Profesional de Ingeniería de Telecomunicaciones</h1> </center> 

<center> <h1> </h1> </center> 

<center><img src="https://user-images.githubusercontent.com/19308295/115939517-f1c6fe80-a463-11eb-989c-812ab4942586.png" width="380" height="4200"></center>

<center> <h2>Ingeniero Renzo Bolivar - Docente DAIE</h2> </center>

<center> <h1>Curso : Computación 2</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

<center> <h1>PANDAS</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

# Descripción:

<div class="alert alert-info">

En este notebook se explicarán la librería **Pandas** escrita como extensión de **NumPy** para la manipulación y análisis de datos en el lenguaje de programación Python. 
    
</div>

# Objetivos:

 1. Familiarizarce con creación de la estructura de tabla de datos **DataFrame.**
 2. Manejo inicial de un **DataFrame.**
 3. Importando archivos ***csv*** y manipulación inicial en **Pandas.**


[1. Limpieza de Datos](#1.-Limpieza-de-Datos)<br>
[2. Frecuencia Simple de Datos](#2.-Frecuencia-Simple-de-Datos)<br>
[3. Archivo csv "NBA" y Funciones de busqueda](#3.-Archivo-csv-"NBA"-y-Funciones-de-busqueda)<br>
[4. Análisis de Datos y Visualización](#4.-Análisis-de-Datos-y-Visualización)<br>

[EJERCICIOS](#EJERCICIOS)<br>
[BIBLIOGRAFÍA](#BIBLIOGRAFÍA)<br>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

![640px-Pandas_logo svg](https://user-images.githubusercontent.com/19308295/119273971-1b925300-bbd3-11eb-9705-fa3a404af0e1.png)

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****1. Limpieza de Datos****<tfont>

In [4]:
#Librerías
import numpy as np
import pandas as pd

Otro procedimiento que podemos hacer con **Pandas** es ***limpiar nuestros datos***, estos es muy importante en **Machine Learning** si queremos obtener resultados confiables.

In [6]:
#cargamos un archivo CSV separado por comas
notas2 = pd.read_csv('data/notas2.csv', ';')

#leer 5 primeras lineas
notas2.head(10)

<ipython-input-6-87c31c293894>:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  notas2 = pd.read_csv('data/notas2.csv', ';')

   Alumno  Nota1  Nota2  Nota3  Promedio
0   Maria   18.0   19.0     18        18
1    Jose    NaN   15.0     11        13
2    Juan   13.0   12.0     17        14
3    Luis   10.0   19.0     18        16
4  Carlos   16.0   12.0     10        13
5    Rosa    NaN   14.0     10        12
6   Jorge    9.0   11.0     19        13
7  Victor    NaN   13.0     10        12
8     Ana   18.0   19.0     11        16
9     Luz   14.0   20.0     16        17

<div class="alert alert-info">Con <strong>Pandas</strong> podemos verificar si faltan valores en el conjunto de datos solamente tenemos que implementar <code>pd.isnull()</code>. Implementando esta instrucción nos devuelve una matriz booleana, una matriz de <strong>verdadero</strong> para valores faltantes y <strong>falso</strong> para valores no perdidos.</div>

In [7]:
#Verificar si hay datos nulos en el DataFrame
print('Datos nulos en el DataFrame:')


#Imprimir nulos TRUE
notas2.isnull()

Datos nulos en el DataFrame:

    Alumno  Nota1  Nota2  Nota3  Promedio
0    False  False  False  False     False
1    False   True  False  False     False
2    False  False  False  False     False
3    False  False  False  False     False
4    False  False  False  False     False
5    False   True  False  False     False
6    False  False  False  False     False
7    False   True  False  False     False
8    False  False  False  False     False
9    False  False  False  False     False
10   False   True  False  False     False
11   False  False  False  False     False
12   False   True  False  False     False
13   False  False  False  False     False
14   False  False  False  False     False
15   False   True  False  False     False
16   False  False  False  False     False
17   False  False  False  False     False
18   False  False  False  False     False
19   False   True  False  False     False
20   False  False  False  False     False
21   False  False  False  False     False
22   False  False  False  False     False
23   False  False  False  False     False
24   False  False  False  False     False
25   False  False  False  False     False
26   False  False  False  False     False
27   False  False  False  False     False
28   False  False   True  False     False
29   False  False  False  False     False
30   False  False  False  False     False
31   False  False  False  False     False
32   False   True  False  False     False
33   False   True  False  False     False
34   False  False   True  False     False
35   False   True  False  False     False
36   False  False  False  False     False
37   False  False  False  False     False
38   False  False  False  False     False
39   False  False  False  False     False
40   False  False  False  False     False
41   False  False  False  False     False
42   False  False  False  False     False
43   False  False   True  False     False
44   False   True  False  False     False
45   False  False  False  False     False
46   False  False  False  False     False
47   False  False  False  False     False
48   False  False  False  False     False
49   False  False  False  False     False

<div class="alert alert-info">Para obtener una <strong>suma de valores nulos o faltantes</strong> solamente se debe ejecutar la siguiente instrucción:</div>

In [8]:
#Suma de datos nulos en el DataFrame
print('Suma datos nulos en el DataFrame:')
#imprimir
notas2.isnull().sum()

Suma datos nulos en el DataFrame:

Alumno       0
Nota1       11
Nota2        3
Nota3        0
Promedio     0
dtype: int64

<div class="alert alert-info"> Ahora vamos a <strong>rellenar los valores perdidos</strong> con otros valores usando <code>df.fillna(x)</code> que reemplaza los valores perdidos con <code>x</code>, puede ser cualquier valor, inclusive se puede reemplar todos los valores nulos con la media de los datos.</div>

In [9]:
#Reemplaza los valores perdidos por un valor
print('Remplazar los valores perdidos por la media:')

#Imprimir
notas2.fillna(5)

Remplazar los valores perdidos por la media:

       Alumno  Nota1  Nota2  Nota3  Promedio
0       Maria   18.0   19.0     18        18
1        Jose    5.0   15.0     11        13
2        Juan   13.0   12.0     17        14
3        Luis   10.0   19.0     18        16
4      Carlos   16.0   12.0     10        13
5        Rosa    5.0   14.0     10        12
6       Jorge    9.0   11.0     19        13
7      Victor    5.0   13.0     10        12
8         Ana   18.0   19.0     11        16
9         Luz   14.0   20.0     16        17
10      Cesar    5.0   13.0     20        17
11     Carmen   14.0   10.0     14        13
12     Miguel    5.0   10.0     16        13
13      Julio   11.0   10.0     14        12
14      Jesus   12.0   13.0     10        12
15      Pedro    5.0   11.0     15        13
16     Manuel   15.0   20.0     20        18
17      Juana    8.0   13.0     10        10
18     Santos    7.0   17.0     14        13
19    Segundo    5.0    8.0     20        14
20       Jhon   10.0    8.0     10         9
21      David    7.0    8.0     10         8
22      Angel   18.0    9.0     11        13
23      Julia    7.0   11.0     18        12
24      Diego   20.0   18.0     18        19
25       Flor   12.0   10.0     13        12
26  Elizabeth   16.0   19.0     18        18
27     Daniel   18.0   13.0     16        16
28      Oscar   10.0    5.0     12        11
29       Ruth    9.0   11.0     12        11
30      Diana   16.0   13.0     14        14
31      Marco    9.0   14.0     16        13
32      Edwin    5.0   19.0     11        15
33     Javier    5.0   16.0     10        13
34     Walter   11.0    5.0     14        13
35  Francisco    5.0   10.0     20        15
36   Fernando   10.0   20.0     13        14
37   Milagros   18.0   14.0     11        14
38  Alejandro    9.0   17.0     14        13
39       Raul   20.0   18.0     16        18
40    Ricardo    9.0   17.0     17        14
41       Alex   10.0   10.0     20        13
42    Roberto   19.0   14.0     12        15
43      Edgar   15.0    5.0     19        17
44   Victoria    5.0   11.0     17        14
45    Eduardo   12.0   19.0     12        14
46      Mario   19.0   14.0     19        17
47      Jaime   18.0   19.0     15        17
48     Gloria   19.0   16.0     16        17
49     Andrea   14.0   17.0     19        17

<div class="alert alert-info"> Ahora para conservar los cambios <strong>generamos un nuevo archivo</strong>  <code>csv </code> con el resultado de la limpieza, utilizamos el comando <code>df.to_csv</code> que creara el nuevo archivo.</div>

In [13]:
#asignamos el resultado al DataFrame nota_final
nota_final = notas2.fillna(5)

In [17]:
#imprimimos para confirmar
nota_final.head(20)

     Alumno  Nota1  Nota2  Nota3  Promedio
0     Maria   18.0   19.0     18        18
1      Jose    5.0   15.0     11        13
2      Juan   13.0   12.0     17        14
3      Luis   10.0   19.0     18        16
4    Carlos   16.0   12.0     10        13
5      Rosa    5.0   14.0     10        12
6     Jorge    9.0   11.0     19        13
7    Victor    5.0   13.0     10        12
8       Ana   18.0   19.0     11        16
9       Luz   14.0   20.0     16        17
10    Cesar    5.0   13.0     20        17
11   Carmen   14.0   10.0     14        13
12   Miguel    5.0   10.0     16        13
13    Julio   11.0   10.0     14        12
14    Jesus   12.0   13.0     10        12
15    Pedro    5.0   11.0     15        13
16   Manuel   15.0   20.0     20        18
17    Juana    8.0   13.0     10        10
18   Santos    7.0   17.0     14        13
19  Segundo    5.0    8.0     20        14

In [18]:
#grabamos en otro archivo

notas2.to_csv('data/notafinal.csv')

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****2. Frecuencia Simple de Datos****<tfont>

<div class="alert alert-info"> Vamos hallar la <strong>frecuencia</strong> de notas de un archivo  <code>csv</code> damos como resultado la nota mas alta</div>

In [19]:
#cargamos un archivo CSV separado por punto y coma
notas3 = pd.read_csv('data/notas.csv', ';')

<ipython-input-19-3e5153393ef0>:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  notas3 = pd.read_csv('data/notas.csv', ';')

In [20]:
#nombres de columnas
notas3.columns.values

array(['Alumno', 'Nota1', 'Nota2', 'Nota3', 'Promedio'], dtype=object)

In [22]:
#buscamos cuantos alumnos han sacado nota 20 en Promedio
#creamos nuevo DataFrame con notas promedio y frecuencias
tab = pd.crosstab(index=notas3['Nota3'], columns='Frecuencia')
tab.head(15)

col_0  Frecuencia
Nota3
10              8
11              5
12              4
13              2
14              6
15              2
16              6
17              3
18              5
19              4
20              5

In [23]:
#localizar alumnos que han sacado 20 en su Nota3
fila = tab.loc[tab.index==20]

#variable
x = fila['Frecuencia']
x = int(x)

#Impresion
print('\t \t \t FELICITACION')
print("-------------------------------------------------------")
print("\%d alumnos han sacado en su Nota3 20, mis felicitaciones!!"%x)
print('\n\n\n')

	 	 	 FELICITACION
-------------------------------------------------------
\5 alumnos han sacado en su Nota3 20, mis felicitaciones!!

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****3. Archivo csv "NBA" y Funciones de busqueda****<tfont>

<div class="alert alert-info"> Las <strong>funciones de busqueda</strong> son básicas en <strong>pandas</strong> lo vamos aplicar a un archivo bajado de la pagina web Kaggle el mayor banco de dataset</div>

In [24]:
#cargamos un archivo CSV separado por comas con indice en columna "Name"
data = pd.read_csv('data/nba.csv', index_col="Name")

#Impresión
data.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [26]:
#variables que busca en la columna "Name" y funcion `loc`
fist = data.loc["Avery Bradley"]
second = data.loc["Jae Crowder"] 

#impresión
print(fist, "\n\n\n", second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: Jae Crowder, dtype: object

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>4. Análisis de Datos y Visualización<tfont>

<div class="alert alert-info">
Colección de datos completo de COVID-19 mantenido por  <strong>Our World in Data</strong>
(Investigación y datos para avanzar contra los mayores problemas del mundo). 
    
Se actualiza diariamente e incluye datos sobre casos confirmados, muertes, hospitalizaciones, pruebas y vacunaciones, así como otras variables de posible interés.
    
    
    https://github.com/owid/covid-19-data/tree/master/public/data
    
</div>

### Vamos a leer los datos desde github de `Our World in Data`

In [55]:
url = pd.read_csv'data/owid-covid-data.csv'
df = (url , index_col=0)
df.head()

<class 'SyntaxError'>: invalid syntax (<ipython-input-55-af52de0ef972>, line 1)

In [31]:
#Cantidad de Filas
len(df)

<class 'NameError'>: name 'df' is not defined

In [ ]:
#Cantidad de Filas y Columnas
df.shape

In [ ]:
#Valores de las columnas
df.columns

In [ ]:
#Información de los datos
df.info()

In [ ]:
#estadistica descriptiva de los datos
df.describe()

### Interpretamos los datos encontrados

#### Datos Negativos en Muertes por día

In [ ]:
#Muertes por día negativos???   es extraño???
df[df.new_deaths < 0]

---

#### Datos Nulos NaN en nuevos casos por día

In [ ]:
#Muertes por día NaN??
df[df.new_cases.isnull()]

In [ ]:
df.new_cases.sort_values(ascending=True)

In [ ]:
#asognación temporal de valores nulos
df.new_cases.fillna(0)

In [ ]:
#buscamos valores nulos NaN  en new_cases
df[df.new_cases.isnull()]

In [ ]:
#asignación definitiva de valores nulos
df.new_cases.fillna(value=0, inplace=True)

In [ ]:
#buscamos valores nulos NaN en new_cases
df[df.new_cases.isnull()]

---

#### Datos Nulos NaN en ingresos de PBI `gdp_per_capita`

In [ ]:
df.groupby('location').mean().gdp_per_capita

In [ ]:
# Hallamos el promedio de `gdp_per_capita`
promedio_gdp = df.groupby('location').mean().gdp_per_capita
promedio_gdp

In [ ]:
#Creamos una nueva columna con:

df['gdp_per_capita_not?nulls'] = df['gdp_per_capita'].fillna(promedio_gdp)

In [ ]:
df.info()

In [ ]:
df.dropna().shape

### Preguntas?

### Cuál es el país con el mayor life_expectancy?

In [ ]:
df.groupby('location').mean().life_expectancy.sort_values(ascending=False)

### Qué país tiene la menor cantidad de fumadores masculinos?

In [ ]:
df.groupby('location').mean().male_smokers.sort_values(ascending=False)

### Qué país tiene la mayor cantidad de fallecimientos diarios a la fecha?

In [ ]:
df.groupby('location').date.max

In [ ]:
df[df.data == '2021-05-29'].sort_values('new_deaths', ascendind=False)

---

## Visualización de los datos, librería `Plotly`

In [33]:
#Librería plotly
import plotly.express as px

<class 'ModuleNotFoundError'>: No module named 'plotly'

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
#Creamos nuevo DataFrame con columnas 'life_expectancy', 'diabetes_prevalence', 'continent'
cv = df[['life_expectancy', 'diabetes_prevalence', 'continent']].dropna()

#Gráfica de Dispersión con las 03 columnas
fig = px.scatter(cv, x='life_expectancy', y='diabetes_prevalence', color='continent')

In [ ]:
cv.head()

In [ ]:
#Creamos nuevo DataFrame con columnas 'life_expectancy', 'diabetes_prevalence', 'continent'
#'population', 'location'

gap = df[['life_expectancy', 'diabetes_prevalence', 'continent',
         'population', 'location']].dropna()

In [ ]:
#Grafica de Dispersión con la nueva data
fig = px.scatter(gap, x='life_expectancy', y='diabetes_prevalence', color='continent',
                size='population', hover_name='location', range_y=[5,20], range_x=[65,80])

fig.show()

In [ ]:
#cambiamos el rango de la grafica
fig = px.scatter(gap, x='life_expectancy', y='diabetes_prevalence', color='continent',
                size='population', hover_name='location')

fig.show()

---

In [ ]:
#Grafica de pie total de casos el dia 28 mayo 2021.... (Fecha Actualizada)

df[df.date == '2021-05-29'].groupby('continent').sum().total_cases

In [ ]:
#A partir de groupby creamos un DataFrame
df[df.date == '2021-05-29'].groupby('continent').sum().total_cases.reset_index()

In [ ]:
#Asignamos a un Nuevo Data Frame
pastel = df[df.date == '2021-05-29'].groupby('continent').sum().total_cases.reset_index()

In [ ]:
#Graficamos pie
fig = px.pie(pastel, values='total_cases', names='continent',
            tittle='Casos totales por Continente')

fig.show()

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****EJERCICIOS****<tfont>

### Ejercicio 1

<div class="alert alert-info">
Crear un <strong>DataFrame</strong> desde la URL : 
    
    
    https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true   
    
Responder las siguientes preguntas :
</div>

<div class="well">
   
   1.-Que <strong>paises</strong> se encuentran en el DataFrame.
   
   2.-Cuantos registros hay por <strong>continente</strong>
    
   3.-Cuantos <strong>nuevos casos</strong> hubo como máximo en una fecha reportada por cada país?
    
   4.-Cuál es el país con el mayor <strong>GDP per cápita (PBI)</strong>?
   
   5.-Qué país tiene la mayor cantidad de <strong>fumadoras femeninas</strong>? 
    
   6.-Qué país tiene la mayor cantidad de <strong>muertes por millón</strong>? 
    
   7.-Qué país ha tomado las medidas <strong>más estrictas hasta ahora</strong>? 
    
   8.-Cual fue el país en alcanzar los 10.000 <strong>casos activos por primera vez</strong>?
    
   
</div>

<div class="alert alert-info">Creamos un nuevo <strong>DataFrame</strong> solo con los siguientes paises: <code>Peru, Guinea</code>. 
    
   Respondemos las siguientes preguntas :

</div>

<div class="well">
   
   9.-<strong>Cuantas filas</strong> hay por país ?.
   
   10.-Cuál es la <strong>fecha máxima</strong> por país ?.
    
   11.-Cuál es la <strong>fecha mínima</strong> por país ?.
    
   12.-Cuantos registros hay por <strong>"continente"</strong>?
   
   13.-Cuantos <strong>nuevos casos hubo como máximo</strong> en una fecha reportada por cada país?? 
    
   
</div>

### Ejercicio 2

<div class="well">Visualizar el <strong>nombre del/(los) jugador(es) de la NBA</strong> de mayor <strong>edad</strong> usar columna <strong>Age</strong>, desde el archivo <code>nba.csv</code> (Carpeta <code>data_ejercicios</code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) jugador(es)</strong> y adicionalmente guardar la información en el archivo <code>nba_adulto.csv</code>(Carpeta <code>data_ejercicios</code>).


</div>

### Ejercicio 3

<div class="well">Visualizar el <strong>nombre del/(los) jugador(es) de la NBA</strong> que han llevado estudios <strong>College</strong> en la ciudad de <strong>Kentucky</strong>, dato que se puede ubicar en la columna <strong>College</strong>, desde el archivo <code>nba.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) jugador(es)</strong> y adicionalmente guardar la información en el archivo <code>nba_adulto.csv</code>.


</div>

### Ejercicio 4

<div class="well">Visualizar el <strong>nombre del/(los) estudiante(s) </strong> que deben viajar mas de <strong>01 hora</strong> dato que se puede ubicar en la columna <strong>traveltime</strong>, desde el archivo <code>student-mat.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) alumno(s)</strong> y adicionalmente guardar la información en el archivo <code>student-travel.csv</code>.


</div>

### Ejercicio 5

<div class="well">Visualizar el <strong>nombre del/(los) estudiante(s) </strong> que no poseen <strong>internet</strong> dato que se puede ubicar en la columna <strong>internet</strong>, desde el archivo <code>student-mat.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) alumno(s)</strong> y adicionalmente guardar la información en el archivo <code>student-internet.csv</code>.


</div>

### Ejercicio 6

<div class="well">Visualizar el <strong>nombre del/(los) estudiante(s) </strong> que son mayores de <strong>18 años</strong> dato que se puede ubicar en la columna <strong>age</strong>, desde el archivo <code>student-mat.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) alumno(s)</strong> y adicionalmente guardar la información en el archivo <code>student-age.csv</code>.


</div>

<div class="alert alert-warning">Database <code>student-mat.csv</code> fue sacado de <strong>Kaggle</strong>
    autores:
    

    
P. Cortez and A. Silva. Using Data Mining to Predict Secondary School Student Performance. In A. Brito and J. Teixeira Eds., Proceedings of 5th FUture BUsiness TEChnology Conference (FUBUTEC 2008) pp. 5-12, Porto, Portugal, April, 2008, EUROSIS, ISBN 978-9077381-39-7.

    
    
</div>

<div class="alert alert-warning">
    
    
web: https://www.kaggle.com/janiobachmann/math-students/data

    
</div>

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****BIBLIOGRAFÍA****<tfont>

[1] Guía de pandas oficial https://pandas.pydata.org/docs/user_guide/index.html

[2] Python Pandas Tutorial: A Complete Introduction for Beginners https://bit.ly/2AQMQld

[3] Guía para pandas https://pybonacci.org/2014/05/30/pandas-i/

[4] Dataset variados https://www.kaggle.com/datasets

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)